/*Form */

.form-control{
  -webkit-transition:none;
  -moz-transition:none;
  -ms-transition:none;
  -o-transition:none;
  transition:none;

  outline: none;

  background-color: transparent;

  color: $buttons;

  @include fx-noshadow;

  border-color: $buttons;
  @include fx-border-radius(0);
  font-weight: 500;
  padding: 3px 12px;
  font-size: 12px;
  height: 25px;

  &:focus{
    @include fx-noshadow;
    outline: none;
    border-color: $buttons;  }

}

.input-group-btn{

  .btn{
   // border-left: 0;

    &:hover{
      //border-color: transparent;
    }


  }

}
