<h1>{{title}}</h1>

<hr>

<div class="row">
    <div class="col-xs-3">
        <h2>{{ lateral_menu_title}}</h2>
        <div id="lateral-menu-flude"> </div>
    </div>

    <div class="col-xs-9">

        <div id="filter-flude-container"> Filter container</div>

        <hr>

        <div id="topic-content-flude">

        </div>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-xs-3">
        <h2>{{ lateral_menu_title}}</h2>
        <div id="lateral-menu-faostat"> </div>
    </div>

    <div class="col-xs-9">

        <div id="filter-faostat-container"> Filter container</div>

        <hr>

        <div id="topic-content-faostat">

        </div>
    </div>
</div>