<div>

    <section data-topic="FLUDE_TOPIC_1">
        <div class="row">
            <div class="col-xs-12">
                <h1>Indicator distribution by country</h1>
                <div id="item-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of the selected indicator by country</h1>
                <div id="item-2"></div>
                <p>Note: Only the top 25 countries are shown in the chart.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by region</h1>
                <div id="item-3"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by region in the selected year</h1>
                <div id="item-7"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by subregion</h1>
                <div id="item-4"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by subregion in the selected year</h1>
                <div id="item-8"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain</h1>
                <div id="item-5"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain in the selected year</h1>
                <div id="item-9"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by level of income</h1>
                <div id="item-6"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by level of income in the selected year</h1>
                <div id="item-10"></div>
            </div>
        </div>

    </section>

    <section data-topic="FLUDE_TOPIC_2">

        <div class="row">
            <div class="col-xs-12">
                <h1>Indicator distribution by country</h1>
                <div id="item-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of the selected indicator by country</h1>
                <div id="item-2"></div>
                <p>Note: Only the top 25 countries are shown in the chart.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by region</h1>
                <div id="item-3"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by region in the selected year</h1>
                <div id="item-7"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by subregion</h1>
                <div id="item-4"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by subregion in the selected year</h1>
                <div id="item-8"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain</h1>
                <div id="item-5"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain in the selected year</h1>
                <div id="item-9"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by level of income</h1>
                <div id="item-6"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by level of income in the selected year</h1>
                <div id="item-10"></div>
            </div>
        </div>

    </section>

    <section data-topic="FLUDE_TOPIC_3">

        <div class="row">
            <div class="col-xs-12">
               topic 3
            </div>
        </div>
    </section>

    <section data-topic="FLUDE_TOPIC_4">
        <div class="row">
            <div class="col-xs-12">
                topic 4
            </div>
        </div>
    </section>

    <section data-topic="FLUDE_TOPIC_5">
        <div class="row">
            <div class="col-xs-12">
                topic5
            </div>
        </div>
    </section>

    <section data-topic="FLUDE_TOPIC_6">
        <div class="row">
            <div class="col-xs-12">
                topic 6
            </div>
        </div>
    </section>

    <section data-topic="FLUDE_TOPIC_7">
        <div class="row">
            <div class="col-xs-12">
                topic 7
            </div>
        </div>
    </section>

    <section data-topic="FLUDE_TOPIC_8">
        <div class="row">
            <div class="col-xs-12">
                topic 8
            </div>
        </div>
    </section>

    <section data-topic="ANNUAL_DATA">
        <div class="row">
            <div class="col-xs-12">
               annual data
            </div>
        </div>
    </section>

</div>
