<div>

    <section data-topic="FAOSTAT_QC">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-QC-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-QC-2"></div>
                </div>
            </div>
        </div>



    </section>

    <section data-topic="FAOSTAT_QL">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-QL-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-QL-2"></div>
                </div>
            </div>
        </div>


    </section>

    <section data-topic="FAOSTAT_QA">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-QA-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-QA-2"></div>
                </div>
            </div>
        </div>


    </section>

    <section data-topic="FAOSTAT_OA">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-OA-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-OA-2"></div>
                </div>
            </div>
        </div>


    </section>

    <section data-topic="FAOSTAT_FO">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-FO-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-FO-2"></div>
                </div>
            </div>
        </div>

    </section>

    <section data-topic="FAOSTAT_GT">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-GT-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-GT-2"></div>
                </div>
            </div>
        </div>

    </section>

    <section data-topic="FAOSTAT_GL">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="faostat-GL-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Time series of the the selected indicator</h1></div>
                <div class="obj-box">

                    <div id=faostat-GL-2"></div>
                </div>
            </div>
        </div>

    </section>

</div>
