<div>

    <section data-topic="FLUDE_TOPIC_1">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Indicator distribution by country </h1></div>
                <div class="obj-box">

                    <div id="item-1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                    <p>Note: Only the top 25 countries are shown in the chart.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-8"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-10"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-9"></div>
                </div>
            </div>
        </div>


    </section>

    <section data-topic="FLUDE_TOPIC_2">

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                    <p>Note: Only the top 25 countries are shown in the chart.</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-8"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-9"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-10"></div>
                </div>

            </div>
        </div>

    </section>

    <section data-topic="FLUDE_TOPIC_3">

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                    <p>Note: Only the top 25 countries are shown in the chart.</p>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-8"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-9"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-10"></div>
                </div>

            </div>
        </div>

    </section>

    <section data-topic="FLUDE_TOPIC_4">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Table - Selected indicator:</h1></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>
            </div>
        </div>


    </section>

    <section data-topic="FLUDE_TOPIC_5">

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                    <p>Note: Only the top 25 countries are shown in the chart.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-8"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-10"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-9"></div>
                </div>

            </div>

        </div>

    </section>

    <section data-topic="FLUDE_TOPIC_6">

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                    <p>Note: Only the top 25 countries are shown in the chart.</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-8"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-9"></div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-10"></div>
                </div>

            </div>
        </div>


    </section>

    <section data-topic="FLUDE_TOPIC_7">

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">
                    <div id="item-1"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="item-2"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="item-3"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-4"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="item-5"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-8"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="item-6"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-9"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="item-7"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="item-10"></div>
                </div>

            </div>
        </div>


    </section>

    <section data-topic="FLUDE_TOPIC_8">

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">
                    <div id="topic-8-1"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">
                    <div id="topic-8-2"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region</h1></div>
                <div class="obj-box">
                    <div id="topic-8-3"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by region in the selected year</h1></div>
                <div class="obj-box">
                    <div id="topic-8-4"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="topic-8-5"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="topic-8-8"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="topic-8-6"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">

                    <div id="topic-8-9"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="topic-8-7"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">

                    <div id="topic-8-10"></div>
                </div>

            </div>
        </div>


    </section>

    <section data-topic="ANNUAL_DATA">


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Indicator distribution by country</h1></div>
                <div class="obj-box">

                    <div id="topic-9-1"></div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Distribution of the selected indicator by country</h1></div>
                <div class="obj-box">

                    <div id="topic-9-2"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion</h1></div>
                <div class="obj-box">
                    <div id="topic-9-5"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by subregion in the selected year</h1></div>
                <div class="obj-box">
                    <div id="topic-9-8"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain</h1></div>
                <div class="obj-box">
                    <div id="topic-9-6"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by climatic domain in the selected year</h1></div>
                <div class="obj-box">
                    <div id="topic-9-9"></div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income</h1></div>
                <div class="obj-box">
                    <div id="topic-9-7"></div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box-header"><h1>Aggregation by level of income in the selected year</h1></div>
                <div class="obj-box">
                    <div id="topic-9-10"></div>
                </div>


            </div>
        </div>

    </section>

</div>
