/* Homepage */


[data-page='home']{

  .container-breadcrumb{
    display: none;
  }

}


.flude {
  position: relative;
  //left: 8px;
  width: 100%;
}

.flude-logo-holder {
  margin: 45px 0;
}

.flude-logo {
  width: 257px;
  height: 63px;
}

.flude-intro-text {

}

.flude-small-title {
  color: $fenix-text !important;
  font-size: 10px;
  margin-top: 30px !important;
}

.flude-contact {
  font-size: 10px !important;
  padding-left: 10px;
  border-left: 1px solid $fx-cool-blue;
}

.flude-title-square {
  color: $fenix-text !important;
  background-color: $fx-cool-blue;
  display: inline-block;
  padding: 3px 7px;
}

.db-updates-list {
  list-style: none;
  padding-left: 0;
  padding-right: 15px;

  li {
    position: relative;
    padding: 15px 0 15px 70px;
    border-bottom: 1px solid $fenix-light-hr;

    &:last-child {
      border-bottom-color: transparent;
    }

    h3 {
      margin: 0;
      color: $fenix-text;
    }

    .db-update-ico {
      position: absolute;
      left: 0;
      width: 60px;
      text-align: center;
      font-size: 45px;
    }

    .db-update-country {
      font: $fx-text-h4;
      color: $fenix-secondary-text;
    }

    .db-update-date {
      font: $fx-text-h4;
      color: $fx-cool-blue;
    }

    .db-update-link {
      font: $fx-text-h4;
      color: $fenix-text;
    }

  }

}

[data-role='partners'] {
  .nav-tabs {
    border-color: transparent;
  }
}

.nav-tabs>li{

  >a{
    background-color: transparent;
    border-color: transparent;
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: transparent;
      @include fx-noshadow;
    }



  }

  &.active {

    >a {
      background-color: transparent;
      border-color: transparent;
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border-color: transparent;
        @include fx-noshadow;
      }
    }
  }


}




[data-partner] {
  width: 16.6%;

  a {
    height: 50px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }



}

$partners: fra fe unece mp ofac itto;

@each $partner in $partners {

  [data-partner='#{$partner}'] {

    a {
      background-image: url('../../src/images/partners/#{$partner}-off.png');
    }

    &.active {

      >a {
        background-image: url('../../src/images/partners/#{$partner}.png');
      }

    }

  }

}
