<!--h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-xs-12">
        {{text}}
    </div>
</div--><div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div id="breadcumb_container"></div>
        </div>
    </div>

    <div class="row fx-header">
        <div class="col-xs-12">
            <div class="page-header">
                <h2>Events</h2>
                <p>
                    A collection of documents (research papers, presentation, analysis, charts, statistics, maps, etc.)
                    published by scientists and technical experts on fertilizers, soil fertility and the general
                    situation
                    of agriculture in Africa.
                    Publication search can be done by using several options which includes categories, keywords,
                    popularity,
                    title, date of publication or degree of interest.
                </p>
            </div>
        </div>
    </div>

<br>

    <!-- Content -->
    <div class="row">
        <div class="col-xs-12 col-sm-8">

            <div class="row" style="/*display:none*/">
                <div class="col-xs-12">
                    <span class="afo-pub-order">ORDER BY:</span>
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Select Sort Order
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu afo-dropdown-toggle dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#repo" id="mostRecentOreder">Most recent</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#repo" id="alphabeticOrder">Publication title A-Z</a></li>
							 <li role="presentation"><a role="menuitem" tabindex="-1" href="#repo" id="alphabeticOrderInv">Publication title Z-A</a></li>
                        </ul>
                    </div>
                    <!--<hr class="afo-pub-filter-header">-->

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 afo-pub-holder">
                    <ul id="listPubs">
                        <!-- CONTENT DYNAMIC -->
                    </ul>
                </div>
            </div>



        </div>
        <div class="col-xs-12 col-sm-4">

            <h3 class="afo-title afo-pub-category-title">Search</h3>

                <div class="input-group">
                    <input type="text" id="txtSearch" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                </div>
                <!-- /input-group -->
<br><br>

            <h3 class="afo-title afo-pub-category-title">Events by category</h3>

                <ul class="afo-category-list">
				
                    <li><a href="#repo" class="afo-category-list-li active" cat="All"><span class="invi">A</span>All</a></li>
                    <li><a href="#repo" class="afo-category-list-li noactive" cat="1"><span class="invi">1</span>AFO technical workshops (e.g. trainings, validation workshops)</a></li>
                    <li><a href="#repo" class="afo-category-list-li noactive" cat="2"><span class="invi">2</span>AFO conferences & events (e.g. launching of new website in Addis)</a></li>
                    <li><a href="#repo" class="afo-category-list-li noactive" cat="3"><span class="invi">3</span>AFO partners’ events (e.g. CountrySTAT launch, IFA annual conference)</a></li>
                    <li><a href="#repo" class="afo-category-list-li noactive" cat="4"><span class="invi">4</span>AFO partners’ corner (access restricted to selected/registered users)</a></li>
                </ul>

        </div>
    </div>


</div>
