<li class="row">
    <div class="col-xs-12">
        <div >
            {{ i18n title }}
        </div>
        <div >
            {{ i18n description }}
        </div>

        <a class="btn btn-default" target='_blank' href="{{ target }}">Download</a>

    </div>

</li>