<li class="download-item">

    <div class="row">
        <div class="col-sm-1">
            <span class="download-icon icojam_zip"></span>
        </div>

        <div class="col-sm-9">
            <div >
                {{ i18n title }}
            </div>
            <div >
                {{ i18n description }}
            </div>
        </div>

        <div class="col-sm-2">
            <a class="btn btn-default" target='_blank' href="{{ target }}">Download</a>
        </div>
    </div>
    <hr>


</li>